<html>

<head>

  <style>
      table {
        width: 80%;
      }
      table, th, td {
        border: 1px solid #bcbcbc;
        padding:15px;
      }
    </style>

</head>

<body>
  <center>
    <table>
      <caption>LIST</caption>
      <tbody>
        <tr>
          <td>
            <a href="{{ site.baseurl }}{% link _posts/2018-09-22-SpineKnowhowList.md %}"><b>「진행계획」</b></a><br>
          </td>
        </tr>
        <tr>
          <td>
            <b>「export에 대해서」</b><br>
            <a href="{{ site.baseurl }}{% link _posts/2018-08-29-SpineDataExport.md %}">1. spine 데이터를 export하는 방법</a><br>
            2. 이하 항목에 대해서는 만드는 중입니다.
          </td>
        </tr>
      </tbody>
    </table>
  </center>
</body>

</html>
