<html>

<head>

  <style>
      table {
        width: 80%;
      }
      table, th, td {
        border: 1px solid #bcbcbc;
        padding:15px;
      }
    </style>

</head>

<body>

    <table style="margin-left: auto; margin-right: auto;">
    <caption>LIST</caption>
      <tr>
        <td>
          <b>「개요」</b>
          <ol>
            <LI><a href="{{ site.baseurl }}{% link _posts/2018-09-22-SpineKnowhowList.md %}">진행계획</a></LI>
            <LI>spine의 기본 구조</LI>
            <LI>이하 항목에 대해서는 만드는 중입니다.</LI>
          </ol>
        </td>
      </tr>
      <tr>
        <td>
          <b>「export」</b>
          <ol>
            <LI><a href="{{ site.baseurl }}{% link _posts/2018-08-29-SpineDataExport.md %}">spine 데이터를 export하는 방법</a></LI>
            <LI>drag & drop 만으로 자동으로 export 해주는 방법（Mac）</LI>
            <LI>이하 항목에 대해서는 만드는 중입니다.</LI>
          </ol>
        </td>
      </tr>
      <tr>
        <td>
          <b>「TIP」</b>
          <ol>
            <LI>hierarchy 접고 펴기</LI>
            <LI>hierarchy 에서 필터링해서 보기</LI>
            <LI>mesh 설정이 되어 있는 attachment를 교체하기</LI>
            <LI>이하 항목에 대해서는 만드는 중입니다.</LI>
          </ol>
        </td>
      </tr>
    </table>

</body>

</html>
