<html>

<head>

  <style>
      table {
        width: 80%;
      }
      table, th, td {
        border: 1px solid #bcbcbc;
        padding:15px;
      }
    </style>

</head>

<body>
  <table style="margin-left: auto; margin-right: auto;">
  <caption>リスト</caption>
    <tr>
      <td>
        <b>「概要」</b>
        <ol>
          <LI><a href="{{ site.baseurl }}{% link _posts/2018-09-27-SpineKnowhowList_JP.md %}">進行計画</a></LI>
          <LI>spineの基本構造</LI>
          <LI>以下の項目は只今準備中です。</LI>
        </ol>
      </td>
    </tr>
    <tr>
      <td>
        <b>「export」</b>
        <ol>
          <LI><a href="{{ site.baseurl }}{% link _posts/2018-09-27-SpineDataExport_JP.md %}">spineのデータをexportする方法</a></LI>
          <LI>drag & drop だけでの自動exportツール（Mac）</LI>
          <LI>以下の項目は只今準備中です。</LI>
        </ol>
      </td>
    </tr>
    <tr>
      <td>
        <b>「TIP」</b>
        <ol>
          <LI>hierarchyの展開</LI>
          <LI>hierarchyのフィルター</LI>
          <LI>meshの設定ができているattachmentを差し替える</LI>
          <LI>以下の項目は只今準備中です。</LI>
        </ol>
      </td>
    </tr>
  </table>


</body>

</html>
