<html>

<head>

  <style>
      table {
        width: 80%;
      }
      table, th, td {
        border: 1px solid #bcbcbc;
        padding:15px;
      }
    </style>

</head>

<body>
  <center>
    <table>
      <caption>リスト</caption>
      <tbody>
        <tr>
          <td>
            <a href="{{ site.baseurl }}{% link _posts/2018-09-22-SpineKnowhowList_JP.md %}"><b>「進行計画」</b></a><br>
          </td>
        </tr>
        <tr>
          <td>
            <b>「exportについて」</b><br>
            <a href="{{ site.baseurl }}{% link _posts/2018-08-29-SpineDataExport_JP.md %}">　1. spineのデータをexportする方法</a><br>
            　2. 以下の項目は只今準備中です。
          </td>
        </tr>
      </tbody>
    </table>
  </center>
</body>

</html>
